---
layout: default
---

<div class="posts">
  <div class="content full-bleed" id="recent-posts">
  {% for post in site.posts limit:50 %}<a
    href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
      <div class="padded-content">
        <div class="title"><h5>{{ post.title }}</h5></div>
      {% if post.photo_url %}
        <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
      {% else %}
         <!--<div class="title">{{ post.title }}</div> -->
        <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
          {{ post.date | date: "%b %Y" }}
        </info>
        {% if post.description %}
        <p><span class="body "> &nbsp; &nbsp; {{ post.description | strip_html }}</span></p>
        {% else %}
        <p><span class="body "> &nbsp; &nbsp; {{ post.excerpt | strip_html }}</span></p>
        {% endif %}
      {% endif %}<!-- post.photo_url -->
      </div>
    </a>{% endfor %}
    <div class="breaker"></div>
    <div class="end">
      <a href="/archive/">More...</a>
    </div>
  </div>
</div>
