<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="container text-center">
    <h2 class="title"><span class="highlight">{{ site.org_name }}</span></h2>
    <p class="intro">{{ site.org_summary }}</p>
    <div class="btns">
      <!--a class="btn btn-cta-secondary" href="#" target="_blank">Demo</a-->
      <a class="btn btn-outline btn-outline-medium scrollto" href="#about" target="_blank">Learn More <i class="fa fa-angle-double-down"></i></a>
    </div>
    <ul class="meta list-inline">
      <li></li>
    </ul><!--//meta-->
  </div><!--//container-->
</section><!--//promo-->
