<div class="social-media">
  <div class="info text-center">
    <ul class="social-icons list-inline">
      {% if site.twitter_username %}
      <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if site.facebook_username %}
      <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
      {% endif %}
      {% if site.instagram_username %}
      <li><a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
      {% endif %}
      {% if site.org_general_email_inbox %}
      <li class="last"><a href="mailto: {{ site.org_general_email_inbox }}"><i class="fa fa-envelope"></i></a></li>
      {% endif %}
    </ul>
  </div>
</div>
