<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600" rel="stylesheet">       
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">


    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <main>
        <nav>
            <div class="container">
                    <div class="left-nav">
                             <a href="index.htm"><h1 id="logo">ENDLESS BATTLE</h1></a> 
                    </div>
                        <div class="right-nav">
                            <div id="socials">
                                    <a href="">
                                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a> 
                                    <a href="">
                                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                    <a href="">
                                            <i class="fa fa-google-plus-square" aria-hidden="true"></i>     
                                    </a>
                                    
 

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600" rel="stylesheet">       
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">       

    <title>Document</title>
</head>

                    </div>
                    <div class="right-nav">
                        <div id="links">
                                        <a href="">
                            <a href="">
                                                About us
                                        </a> 
                            </a> 
                                        <a href="">
                                                Donate
                                        </a>

                <div id="content">
                    <div class="content" id="">
                        <h1>About us</h1>
                        <p>We are a non-profitable charity who are willing to help the people fighting against cancer</p>
                        </p>
                    </div>
                    <div class="content" id="">
                        <h1>Donate</h1>
                        <p>As we have tie ups with most of the worlds well going charity, the money donated will directly reach them and will help those who are in need. a link for payment has been given below.  </p>
                    </div>
                    <div class="content" id="">
                        <h1>Contact us</h1>
                        <p>@endlessbattle
endlessbattle@googlecom
+91 7358398769</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="right">
            
        </div>
    </main>
</body>
</html>
